// Import modules
@import '../common/mixins';
@import '../common/variables';

div#armor-list {
  padding: 1rem 0 1rem 1rem;
  flex-shrink: 2;

  ul {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;

    li {
      border-radius: 4px;
      box-shadow: $shadow-inactive;
      position: relative;
      transition: $transition;
      transition-property: opacity, transform;
      width: 175px;

      &::after {
        content: '';
        border-radius: 0.25rem;
        box-shadow: $shadow-active;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: $transition;
        width: 100%;
        z-index: -1;
      }

      &:hover {
        transform: scale(1.025, 1.025);

        &::after {
          opacity: 1;
        }
      }

      &.selected {
        transform: scale(1.025, 1.025);

        div.name {
          background-color: $magenta !important;
          color: #fff;

          &::before {
          content: '✅ ';
          }
        }
      }

      div.name {
        border-radius: 4px 4px 0 0;
        font-family: 'Lora', 'Times New Roman', serif;
        font-size: 1.25rem;
        font-weight: 700;
        padding: 0.5rem;

        &::before {
          content: '🔳 ';
        }
      }

      &.tier-1 {
        div.name {
          background-color: $tier-1;
          color: #fff;
        }
      }

      &.tier-2 {
        div.name {
          background-color: $tier-2;
        }
      }

      &.tier-3 {
        div.name {
          background-color: $tier-3;
        }
      }

      &.tier-4 {
        div.name {
          background-color: $tier-4;
        }
      }

      &.tier-5 {
        div.name {
          background-color: $tier-5;
        }
      }

      &.tier-6 {
        div.name {
          background-color: $tier-6;
        }
      }

      &.tier-7 {
        div.name {
          background-color: $tier-7;
        }
      }

      &.tier-8 {
        div.name {
          background-color: $tier-8;
        }
      }

      &.tier-9 {
        div.name {
          background-color: $tier-9;
        }
      }

      &.tier-10 {
        div.name {
          background-color: $tier-10;
        }
      }

      &.tier-11 {
        div.name {
          background-color: $tier-11;
        }
      }

      &.tier-12 {
        div.name {
          background-color: $tier-12;
        }
      }
    }
  }
}
