// Import modules
@import './variables';

#armor-list {
  padding: 16px 0 16px 16px;
  flex-shrink: 2;

  ul {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style-type: none;

    li {
      border-radius: 4px;
      box-shadow: $shadow-inactive;
      position: relative;
      transition: $transition;
      transition-property: opacity, transform;
      width: 175px;

      &::after {
        content: '';
        border-radius: 0.25rem;
        box-shadow: $shadow-active;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: $transition;
        width: 100%;
        z-index: -1;
      }

      &:hover {
        transform: scale(1.025, 1.025);

        &::after {
          opacity: 1;
        }
      }

      &.selected {
        box-shadow: 0 0px 5px 4px $lime;
        transform: scale(1.025, 1.025);

        div.name {
          // background-color: $cyan;
          // color: #fff;

          &::before {
            content: '🚩 ';
          }
        }
      }

      .name {
        border-radius: 4px 4px 0 0;
        font-family: 'Lora', 'Times New Roman', serif;
        font-size: 1.25rem;
        font-weight: 700;
        padding: 0.5rem;

        &::before {
          content: '🔳 ';
        }
      }

      &.bone,
      &.chainmail,
      &.gajau,
      &.hunters,
      &.jagras,
      &.kestodon,
      &.kulu,
      &.leather,
      &.vespoid {
        .name {
          background: $tier-1;
          color: #fff;
        }
      }

      &.alloy,
      &.barroth,
      &.kadachi,
      &.jyura,
      &.pukei {
        .name {
          background: $tier-2;
        }
      }

      &.anja,
      &.baan,
      &.butterfly,
      &.girros,
      &.high-metal,
      &.hornetaur,
      &.lumo,
      &.rathian,
      &.shamos,
      &.tzitzi {
        .name {
          background: $tier-3;
        }
      }

      &.diablos,
      &.gala-suit,
      &.ingot,
      &.legiana,
      &.rathalos {
        .name {
          background: $tier-4;
        }
      }
    }
  }
}
