$background: rgb(18, 46, 9);

// Colors
$blue: rgb(115, 140, 214);
$brown: rgb(198, 122, 82);
$cyan: rgb(13, 157, 219);
$gold: rgb(194, 150, 47);
$gray: rgb(240, 240, 240);
$green: rgb(106, 190, 131);
$lime: rgb(173, 212, 110);
$magenta: rgb(255, 0, 255);
$maroon: rgb(179, 16, 71);
$olive: rgb(87, 136, 60);
$periwinkle: rgb(165, 190, 255);
$pink: rgb(248, 136, 157);
$red: rgb(225, 80, 92);
$purple: rgb(139, 127, 210);
$silver: rgb(170, 170, 170);
$sky: rgb(156, 226, 248);
$tan: rgb(248, 206, 103);
$yellow: rgb(255, 243, 61);

// Armor tier colors
$tier-1: rgb(64, 64, 64);
$tier-2: rgb(188, 188, 188);
$tier-3: rgb(160, 185, 70);
$tier-4: rgb(88, 202, 92);
$tier-5: rgb(110, 174, 183);
$tier-6: rgb(97, 94, 203);
$tier-7: rgb(135, 93, 216);
$tier-8: rgb(188, 119, 91);
$tier-9: rgb(186, 73, 111);
$tier-10: rgb(20, 194, 241);
$tier-11: rgb(242, 199, 55);
$tier-12: rgb(199, 231, 248);

// Material requirements width
$requirements-width: 300px;

// Shadows
$shadow-active: 0px 5px 15px rgba(0,0,0,0.3);
$shadow-inactive: 0px 1px 2px  rgba(0,0,0,0.1);
$shadow-selected: 0 0 5px 4px $cyan;

// Transitions
$transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
