// Import modules
@import '../common/mixins';
@import '../common/variables';

div.materials {
  background-color: $gray;
  border-radius: 0 0 4px 4px;
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 4px;
}

div.material {
  border-radius: 4px;
  box-shadow: $shadow-inactive;
  list-style-type: none;
  margin: 0.25rem 0;
  padding: 0.35rem;

  span.quantity {
    font-size: 0.75rem;
    font-style: italic;
  }

  &.aqua-sac,
  &.coral-crystal,
  &[class^='legiana']:not(.legiana-gem),
  &.machalite-ore,
  &.sleep-sac,
  &[class^='tzitzi-ya-ku'] {
    @include material-borders($blue);
    background-color: $blue;
    color: #fff;
  }

  &.fertile-mud,
  &.warped-bone {
    @include material-borders($brown);
    background-color: $brown;
    color: #fff;
  }

  &.autumn-harvest-ticket,
  &[class^='diablos'],
  &[class^='jyuratodus'],
  &.zenny {
    @include material-borders($gold);
    background-color: $gold;
  }

  &.ancient-bone,
  &.kelbi-horn,
  &[class^='rathian'],
  &.warm-pelt {
    @include material-borders($green);
    background-color: $green;
  }

  &[class^='pukei-pukei'] {
    @include material-borders($lime);
    background-color: $lime;
  }

  &[class^='gastrodon'] {
    @include material-borders($maroon);
    background-color: $maroon;
  }

  &.dragonite-ore,
  &.mosswine {
    @include material-borders($olive);
    background-color: $olive;
    color: #fff;
  }

  &.bird-wyvern-gem,
  &.legiana-gem {
    @include material-borders($periwinkle);
    background-color: $periwinkle;
  }

  &[class^='anjanath'] {
    @include material-borders($pink);
    background-color: $pink;
  }

  &.poison-sac {
    @include material-borders($purple);
    background-color: $purple;
  }

  &.flame-sac,
  &[class^='rathalos'],
  &.rath-wingtalon,
  &[class^='shamos'] {
    @include material-borders($red);
    background-color: $red;
    color: #fff;
  }

  &[class^='girros']:not(.girros-fang),
  &[class^='hornetaur'],
  &.iron-ore,
  &.lightcrystal,
  &.piercing-claw,
  &.sharp-claw {
    @include material-borders($silver);
    background-color: $silver;
  }

  &.monster-fluid,
  &[class^='tobi-kadachi'],
  &.wyvern-gem {
    @include material-borders($sky);
    background-color: $sky;
  }

  &.appreciation-ticket,
  &[class^='barroth'],
  &.boulder-bone,
  &[class^='gajau'],
  &.girros-fang,
  &.high-quality-pelt,
  &[class*='jagras'],
  &[class^='kestodon'],
  &[class^='kulu-ya-ku'],
  &.monster-bone-plus,
  &.twisted-horn,
  &[class^='vespoid'],
  &[class^='wingdrake'] {
    @include material-borders($tan);
    background-color: $tan;
  }

  &.electro-sac,
  &.great-hornfly,
  &.monster-bone-l,
  &.monster-bone-m,
  &.monster-bone-s,
  &.paralysis-sac {
    @include material-borders($yellow);
    background-color: $yellow;
  }

  &.earth-crystal,
  &[class*='radobaan'],
  &.sturdy-bone,
  &.wyvern-bonemass {
    @include material-borders(#fff);
    background-color: #fff;
  }
}
