// Import modules
@import '../common/mixins';
@import '../common/variables';

div#requirements-container {
  height: 100vh;
  max-width: $requirements-width;
  position: relative;
  width: 100%;

  div#requirements {
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    width: $requirements-width;

    h2 {
      color: $cyan;
    }
  }
}

div.materials {
  background: $gray;
  border-radius: 0 0 4px 4px;
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 0.25rem;
}

div#requirements,
div.materials {

  div, li {
    border-radius: 4px;
    box-shadow: $shadow-inactive;
    list-style-type: none;
    margin: 0.25rem 0;
    padding: 0.35rem;

    .quantity {
      font-size: 0.75rem;
      font-style: italic;
    }
  }

  div.aqua-sac,
  div.coral-crystal,
  div[class^='legiana']:not(.legiana-gem),
  div.machalite-ore,
  div.sleep-sac,
  div[class^='tzitzi-ya-ku'] {
    @include material-borders($blue);
    background: $blue;
    color: #fff;
  }

  div.fertile-mud,
  div.warped-bone {
    @include material-borders($brown);
    background: $brown;
    color: #fff;
  }

  div.autumn-harvest-ticket,
  div[class^='diablos'],
  div[class^='jyuratodus'],
  div.zenny {
    @include material-borders($gold);
    background: $gold;
  }

  div.ancient-bone,
  div.kelbi-horn,
  div[class^='rathian'],
  div.warm-pelt {
    @include material-borders($green);
    background: $green;
  }

  div[class^='pukei-pukei'] {
    @include material-borders($lime);
    background: $lime;
  }

  div[class^='gastrodon'] {
    @include material-borders($maroon);
    background: $maroon;
  }

  div.dragonite-ore,
  div.mosswine {
    @include material-borders($olive);
    background: $olive;
    color: #fff;
  }

  div.bird-wyvern-gem,
  div.legiana-gem {
    @include material-borders($periwinkle);
    background: $periwinkle;
  }

  div[class^='anjanath'] {
    @include material-borders($pink);
    background: $pink;
  }

  div.poison-sac {
    @include material-borders($purple);
    background: $purple;
  }

  div.flame-sac,
  div[class^='rathalos'],
  div.rath-wingtalon,
  div[class^='shamos'] {
    @include material-borders($red);
    background: $red;
    color: #fff;
  }

  div[class^='girros']:not(.girros-fang),
  div[class^='hornetaur'],
  div.iron-ore,
  div.lightcrystal,
  div.piercing-claw,
  div.sharp-claw {
    @include material-borders($silver);
    background: $silver;
  }

  div.monster-fluid,
  div[class^='tobi-kadachi'],
  div.wyvern-gem {
    @include material-borders($sky);
    background: $sky;
  }

  div.appreciation-ticket,
  div[class^='barroth'],
  div.boulder-bone,
  div[class^='gajau'],
  div.girros-fang,
  div.high-quality-pelt,
  div[class*='jagras'],
  div[class^='kestodon'],
  div[class^='kulu-ya-ku'],
  div.monster-bone-plus,
  div.twisted-horn,
  div[class^='vespoid'],
  div[class^='wingdrake'] {
    @include material-borders($tan);
    background: $tan;
  }

  div.electro-sac,
  div.great-hornfly,
  div.monster-bone-l,
  div.monster-bone-m,
  div.monster-bone-s,
  div.paralysis-sac {
    @include material-borders($yellow);
    background: $yellow;
  }

  div.earth-crystal,
  div[class*='radobaan'],
  div.sturdy-bone,
  div.wyvern-bonemass {
    @include material-borders(#fff);
    background: #fff;
  }
}
