// Import modules
@import '../common/variables';

div#requirements-container {
  height: 100vh;
  position: relative;
  width: clamp(320px, 350px, 100%);

  div#requirements {
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    width: inherit;

    h2 {
      color: $cyan;
    }
  }
}
